#contact-section {
    height: 100%;
    display: flex;
    .container {
        display: flex;
        .row {
            .text-column {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .text-contact {
                    height: 383px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            .form-column {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    .lead {
        color: $primary-color-1;
    }
    .btn-dark {
        background-color: $primary-color-1;
    }
}